@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Comfortaa, cursive;
  margin: 0;
  padding: 0;
}

:root {

  --color01: #036;

  --color02: #0cc;

  --color03: #f0f5f9;

  --color04: #d9e2ec;

  --color05: black;

  --flickr-pink: rgb(247, 37, 133);

  --purple: rgb(114, 9, 183);

  --trypan-blue: rgb(58, 12, 163);

  --ultramarine-blue: rgb(67, 97, 238);

  --vivid-sky-blue: rgb(76, 201, 240);

  --border-radius01: 0.5rem;

  --border-radius02: 0.2rem;

  --box-shadow01: rgba(0, 0, 0, 0.35) 0 5px 15px;

  --box-shadow02: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
  align-items: center;
  color: var(--color05);
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}

.logo .logo-text {
  align-self: flex-end;
  font-size: 1.7rem;
}

.logo .logo-image {
  width: 40px;
}

.login-page {
  align-items: center;
  background: linear-gradient(120deg, var(--color01), var(--color02));
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-form {
  background-color: white;
  border-radius: var(--border-radius01);
  box-shadow: var(--box-shadow01);
  max-width: 350px;
  min-height: 40vh;
  padding: 2.5rem;
  text-align: center;
}

.login-form form {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-top: 3rem;
  width: 100%;
}

.login-form input {
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}

.login-form input:focus {
  border-bottom: 2px solid var(--color01);
  outline: 0;
}

.login-form button {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0.5rem;
  transition: 1s;
}

.login-form button:hover:not( :disabled ) {
  cursor: pointer;
  opacity: 0.9;
}

.wallet-page {
  display: grid;
  grid-template-areas: 'header'
    'form'
    'table';
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.wallet-header {
  align-items: center;
  background-color: var(--color02);
  box-shadow: var(--box-shadow02);
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.wallet-header p {
  font-size: 1.2rem;
  font-weight: 700;
}

.expenses-value {
  align-items: center;
  background-color: var(--color01);
  border-radius: var(--border-radius02);
  box-shadow: var(--box-shadow02);
  display: flex;
  gap: 4px;
  padding: 1rem;
}

.expenses-value p , .expenses-value span {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

.wallet-form {
  align-items: center;
  background-color: var(--color01);
  box-shadow: var(--box-shadow02);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: form;
  padding: 2rem 5rem;
}

.wallet-form h2 {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
}

.wallet-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.wallet-form input , .wallet-form select , .wallet-form button {
  background-color: white;
  border: 0;
  border-radius: var(--border-radius02);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.wallet-form button {
  white-space: nowrap;
}

.wallet-form button:hover:not( :disabled ) {
  cursor: pointer;
  opacity: 0.9;
}

.expenses-table {
  grid-area: table;
  padding: 3rem 5rem;
}

.expenses-table h2 {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.expenses-table table {
  border-collapse: collapse;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.expenses-table th , .expenses-table td {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 0.6rem;
}

.expenses-table th {
  background-color: var(--color04);
  box-shadow: var(--box-shadow02);
  color: var(--color05);
}

.buttons-section {
  gap: 2rem;
  justify-content: center;
}

.buttons-section button {
  background-color: #036;
  border: 0;
  border-radius: var(--border-radius02);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem;
  padding: 1rem;
}

.buttons-section button:hover {
  cursor: pointer;
  opacity: 0.9;
}


@media ( max-width : 1399.98px ) {

  .wallet-page {
    grid-template-rows: 15vh auto auto;
  }

  .wallet-form form {
    align-items: center;
    flex-direction: column;
  }

  .wallet-form input , .wallet-form select , .wallet-form button {
    width: 100%;
  }

  .expenses-table thead {
    display: none;
  }

  .expenses-table tbody , tr , td {
    display: block;
    width: 100%;
  }

  .expenses-table tr {
    margin-bottom: 10px;
  }

  .expenses-table td {
    position: relative;
    text-align: right;
  }

  .expenses-table td:before {
    content: attr(data-label);
    font-weight: 700;
    left: 0;
    margin-left: 10px;
    position: absolute;
    text-align: left;
    width: 60%;
  }
}

@media ( max-width : 767.98px ) {

  .wallet-header , .wallet-form , .expenses-table {
    padding: 3rem 0.1rem;
  }

  .wallet-page {
    grid-template-rows: repeat(3, auto);
  }

  .wallet-header {
    flex-direction: column;
    gap: 20px;
  }

  .buttons-section {
    display: flex;
    justify-content: space-around;
  }

  td.buttons-section:before {
    content: '';
  }
}
